<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Update a Stylist</title>
    </head>
    <body>
        <h1>Update {{ stylist.getName }}'s info</h1>
        <hr>

        <form action="/stylists/{{ stylist.getId }}" method="post">
            <input type="hidden" name="_method" value="patch">

            <label for="name">Enter new name:</label>
            <input type="text" name="name">
            <button type="submit">Update</button>
        </form>

        <hr>
        <a href="/">Home</a>
    </body>
</html>
